

<body>

<div class="topLeft">
  <form>
    <h1 class="text-center ">Adres siedziby</h1>
    <AutocompleteComponent #addressCompany (setAddress)="getCompanyAddress($event)"
                           adressType="geocode"></AutocompleteComponent>
  </form>
</div>

<form>
  <div class="form-group">
    <h1 class="text-center ">Lista adresów</h1>
    <div class="input-group-prepend">
      <AutocompleteComponent id="addressForm" #addressForm (setAddress)="getAddress($event); getPosition($event)"
                             adressType="geocode"></AutocompleteComponent>
      <span class="input-group-text" (click)="addAddressInput(formattedAddress)">
				<i class="material-icons">add</i></span>
    </div>
  </div>
  <div class="data">
    <ul class="list-unstyled">
      <li [@moveInLeft] id="addNewAddress" *ngFor="let address of addressArray">{{address}} <i
        (click)="deleteAddress(address)" class="material-icons">delete</i></li>
    </ul>
  </div>
</form>

<div class="topRight">
  <form>
    <button class="btn btn-primary" id="submit" (click)="calculateRoute()" mat-button>Szukaj Najszybszej Trasy</button>
  </form>
</div>

<div class="maps">
  <app-maps></app-maps>
</div>

</body>



