

<body>

<div class="officeAddress">
    <h1 class="text-center ">Adres siedziby</h1>
    <AutocompleteComponent #addressCompany (setAddress)="getCompanyAddress($event)"
                           adressType="geocode"></AutocompleteComponent>
 </div>

<form>
  <div class="form-group">
    <h1 class="text-center ">Lista adresów</h1>
    <div class="input-group-prepend">
      <AutocompleteComponent id="addressForm" #addressForm (setAddress)="getAddress($event); getPosition($event)"
                             adressType="geocode"></AutocompleteComponent>
      <span class="input-group-text" (click)="addAddressInput(formattedAddress)">
				<i class="material-icons">add</i></span>
    </div>
  </div>
  <div class="data">
    <ul class="list-unstyled">
      <li [@moveInLeft] id="addNewAddress" *ngFor="let address of addressArray">{{address}} <i
        (click)="deleteAddress(address)" class="material-icons">delete</i></li>
    </ul>
  </div>
</form>


<div class="searchButton">
   <button class="btn btn-primary" id="submit" (click)="sortedAddress()"> Szukaj Najszybszej Trasy </button>
</div>

<div class="row">
  <div class="column" style="background-color:transparent;">
      <app-maps></app-maps>
  </div>
  <div class="column" style="background-color:transparent;">
      <div class="data summary">
        <ul class="list-unstyled list-group">
          <li [@moveInLeft] class="test-cnt list-group-item">Najszybsza trasa zostanie wygenerowana</li>
        </ul>
      </div>
  </div>


</div>



</body>
